<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8"/>
</head>
<body>

	    <section class="layout-content" layout:fragment="corpo">
			<nav class="navbar navbar-expand-md bg-light">
				<div class="collapse navbar-collapse" id="navbarsExampleDefault">
					<ul class="navbar-nav">
						<li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
						<li class="breadcrumb-item active" aria-current="page">Cadastro de aprovação de antecipação</li>	                        </li>
					</ul>
				</div>
				<a th:href="@{/antecipacao/cadastrar}" role="button">
					<button type="button" class="btn btn-outline-primary">
						<span class="oi oi-spreadsheet" title="Cadastro" aria-hidden="true"></span>
						<span class="ml-1">Lista de Aprovações</span>
					</button>
				</a>
			</nav>

	        <div class="container">

	            <div class="table-responsive">

	            	<div th:replace="fragments/alert"></div>

	                <table class="table table-hover">
	                    <thead>
	                    <tr>
	                        <th>#</th>
	                        <th th:text="#{table.anticipation.col.modalitie}">Modalidade</th>
	                        <th th:text="#{table.anticipation.col.reason}">Motivo</th>
	                        <th th:text="#{table.anticipation.col.numberClasses}">Aulas</th>
	                        <th th:text="#{table.anticipation.col.newDate}">Nova Data</th>
	                        <th th:text="#{table.anticipation.col.lesson}">Conteudo</th>
	                        <th th:text="#{table.anticipation.col.lecturer}">Professor</th>
	                        <th th:text="#{table.anticipation.col.subject}">Disciplina</th>
	                        <th th:text="#{table.anticipation.col.acao}">Lista de Anuência</th>
	                    </tr>
	                    </thead>
	                    <tbody>
		                    <tr th:each="p : ${anticipation}">
		                        <td th:text="${p.id}">2</td>
		                        <td th:text="${p.anticipation.modalitie}">Presencial</td>
								<td th:text="${p.anticipation.reason.reasonBy}">Viagem</td>
								<td th:text="${p.anticipation.numberClasses}">1</td>
								<td th:text="${p.anticipation.nextDate}">2017/08/14</td>
								<td th:text="${p.lesson.content}">Programação</td>
								<td th:text="${p.lesson.classCourse.lecturer.name}">Engenharia</td>
								<td th:text="${p.lesson.classCourse.subject.name}">Joe Doe</td>
								<td> <a th:href="@{/aprovacao/cadastrar/{id} (id=${p.id}) }" class="btn btn-primary eBtn">Submeter</a></td>
							</tr>
	                    </tbody>
	                </table>
	            </div>

				<div class="myForm">
					<form  th:action="@{/aprovacao/salvar}" th:object="${approvalAnticipation}" method="post">
						<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLabel">Entregar lista de anuência</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<div class="form-group">
											<label for="consents">Listas</label>
											<select id="consents" class="form-control" th:field="*{consents}" required
													th:classappend="${#fields.hasErrors('consents')} ? 'is-invalid'">
												<option value="">Selecione a lista de anuência...</option>
												<option th:each="a : ${attendances}" th:value="${a.id}" th:text="${a.id}"></option>
											</select>
											<div class="invalid-feedback">
												<span th:errors="*{consents}"></span>
											</div>
										</div>

										<input type="hidden" id="id"  th:field="*{proposalAnticipation.id}"/>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
										<input type="submit" class="btn btn-primary" value="save" />
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>

	        </div>

	        <div th:replace="fragments/modal :: modal"></div>

	    </section>
</body>
</html>		