<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head><meta charset="UTF-8"></head>
<body>
			<nav class="sidebar sidebar-open" th:fragment="nav-sidebar">
				<ul class="nav nav-pills">
					<li class="nav-item"><a class="nav-link " th:href="@{/}"> <i
							class="oi oi-home"></i> <span class="ml-1" th:text="#{sidebar.link.home}"></span>
					</a></li>
				</ul>

				<ul class="nav nav-pills">
					<li class="nav-item"><span class="nav-link active" th:text="#{sidebar.title.anticipation}">Antecipação</span></li>
					<li class="nav-item"><a class="nav-link"
						th:href="@{/antecipacao/cadastrar}"> <i class="oi oi-plus"></i>
						<span class="ml-1" th:text="#{sidebar.link.cadastrar}">Cadastrar</span>
					</a></li>
					<li class="nav-item"><a class="nav-link"
						th:href="@{/antecipacao/listar}"> <i class="oi oi-spreadsheet"></i>
							<span class="ml-1" th:text="#{sidebar.link.listar}">Listar </span>
					</a></li>
				</ul>

				<ul class="nav nav-pills">
					<li class="nav-item"><span class="nav-link active" th:text="#{sidebar.title.approval}">Aprovação</span></li>
					<li class="nav-item"><a class="nav-link" 
						th:href="@{/aprovacao/cadastrar}"> <i class="oi oi-plus"></i>
						<span class="ml-1" th:text="#{sidebar.link.cadastrar}">Cadastrar </span>
					</a></li>
					<li class="nav-item"><a class="nav-link" 
						th:href="@{/aprovacao/listar}"> <i
							class="oi oi-spreadsheet"></i> 
							<span class="ml-1" th:text="#{sidebar.link.listar}">Listar </span>
					</a></li>
				</ul>

				<ul class="nav nav-pills">
					<li class="nav-item"><span class="nav-link active" th:text="#{sidebar.title.classCourse}">Aulas</span></li>
					<li class="nav-item"><a class="nav-link" 
						th:href="@{/aula/listar}"> <i class="oi oi-spreadsheet"></i>
						<span class="ml-1" th:text="#{sidebar.link.listar}">Listar </span>
					</a></li>
				</ul>
			</nav>
</body>
</html>