<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:layout="" xmlns:th="http://www.w3.org/1999/xhtml">
<head><meta charset="UTF-8"/></head>
<body>
	
	    <section class="layout-content" layout:fragment="corpo">
	        <div class="page-header">
	            <nav class="navbar navbar-expand-md navbar-top bg-light">
	                <div class="collapse navbar-collapse" id="navbarsExampleDefault">
	                    <ul class="navbar-nav">
							<li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
							<li class="breadcrumb-item active" aria-current="page">Cadastrar antecipação</li>	                        </li>
	                    </ul>
	                </div>
	                <a th:href="@{/antecipacao/listar}" role="button">
						<button type="button" class="btn btn-outline-primary">
							<span class="oi oi-spreadsheet" title="Cadastro" aria-hidden="true"></span>
							<span class="ml-1">Listar Antecipações</span>
						</button>
					</a>
	            </nav>
	        </div>
	
	        <div class="container" id="cadastro">
	        
	        	<div th:replace="fragments/alert"></div>
	        
	            <form th:action="${proposalAnticipation.id < 1} ? @{/antecipacao/salvar} : @{/antecipacao/editar}"
	                  th:object="${proposalAnticipation}" method="POST">


					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="modalitie">Modalidade</label>
							<select id="modalitie" class="form-control" th:field="*{anticipation.modalitie}" required
									th:classappend="${#fields.hasErrors('anticipation.modalitie')} ? 'is-invalid'">
								<option value="">Selecione...</option>
								<option th:each="modalitie : ${modalities}" th:value="${modalitie}" th:text="${modalitie}"></option>
							</select>
							<div class="invalid-feedback">
								<span th:errors="*{anticipation.modalitie}"></span>
							</div>
						</div>
						<div class="form-group col-md-4">
							<label for="nextDate">Data de antecipação</label>
							<input type="date" class="form-control" id="nextDate" th:field="*{anticipation.nextDate}" required
								   th:classappend="${#fields.hasErrors('anticipation.nextDate')} ? 'is-invalid'" />
							<div class="invalid-feedback">
								<span th:errors="*{anticipation.nextDate}"></span>
							</div>
						</div>
						<div class="form-group col-md-2">
							<label for="nome">Número de Aulas</label>
							<input type="number" class="form-control" id="nome" placeholder="Nome Completo" required
								   autofocus="autofocus" th:field="*{anticipation.numberClasses}"
								   th:classappend="${#fields.hasErrors('anticipation.numberClasses')} ? 'is-invalid'" />
							<div class="invalid-feedback">
								<span th:errors="*{anticipation.numberClasses}"></span>
							</div>
						</div>
					</div>
					<div class="form-row">
							<div class="form-group col-md-6">
								<label for="lesson">Aula</label>
								<select id="lesson" class="form-control" th:field="*{lesson}" required
										th:classappend="${#fields.hasErrors('lesson')} ? 'is-invalid'">
									<option value="">Selecione...</option>
									<option th:each="l : ${lessons}" th:value="${l.id}" th:text="|${l.date}/${l.classCourse.subject.name}|"></option>
								</select>
								<div class="invalid-feedback">
									<span th:errors="*{lesson}"></span>
								</div>
							</div>
						<div class="form-group col-md-6">
							<label for="reason">Motivo</label>
							<select id="reason" class="form-control" th:field="*{anticipation.reason.reasonBy}" required
									th:classappend="${#fields.hasErrors('anticipation.reason.reasonBy')} ? 'is-invalid'">
								<option value="">Selecione...</option>
								<option th:each="reason : ${reasons}" th:value="${reason}" th:text="${reason}"></option>
							</select>
							<div class="invalid-feedback">
								<span th:errors="*{anticipation.reason.reasonBy}"></span>
							</div>
						</div>
					</div>
					<input type="hidden" id="id" th:field="*{id}"/>
					<input type="hidden" id="anticipation.id" th:field="*{anticipation.id}"/>
					<button type="submit" class="btn btn-primary">Salvar</button>
	            </form>
	        </div>
	    </section>
</body>
</html>		